---
BasedOnStyle: Microsoft
AlwaysBreakTemplateDeclarations: 'Yes'
AllowAllConstructorInitializersOnNextLine: 'true'
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
SortIncludes: 'false'
...
